@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+JP&family=Noto+Sans+KR&family=Noto+Sans+SC&display=swap');

:root {
    --default-font-color: #292929;
    --button-color: #e9e9e9;
    --button-border: #b3b3b3;
    --button-text: #3b3b3b;
    --button-hover-color: #b3b3b3;
    --button-hover-border: #969696;
    --button-hover-text: #292929;
    --simple-button-text: #3b3b3b;
    --simple-button-hover-color: #dadada52;
    --simple-button-hover-text: #292929;
    --link-color: #777777;
    --link-hover-color: #3b3b3b;
    --menu-bar-color: #e9e9e9;
    --article-border: #e0e0e0;
}

* {
    font-family: "Noto Sans", Verdana, Geneva, Tahoma, sans-serif;
    color: var(--default-font-color);
    font-size: 11pt;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

p {
    margin: 8px 0;
}

h1 {
    font-size: 42pt;
}

h2 {
    font-size: 32pt;
}

h3 {
    font-size: 26pt;
}

h4 {
    font-size: 22pt;
}

h5 {
    font-size: 19pt;
}

h6 {
    font-size: 14pt;
}

.yaff.button {
    display: inline-block;
    margin: 0 2px;
    padding: 6px 14px;
    color: var(--button-text);
    background-color: var(--button-color);
    border: 1px solid var(--button-border);
    text-decoration: none;
    border-radius: 4px;
}

.yaff.button:hover {
    background-color: var(--button-hover-color);
    border-color: var(--button-hover-border);
    color: var(--button-hover-text);
}

.yaff.simple-button {
    display: inline-block;
    margin: 2px;
    padding: 6px 14px;
    color: var(--simple-button-text);
    border-radius: 4px;
    text-decoration: none;
}

.yaff.simple-button:hover {
    background-color: var(--simple-button-hover-color);
    color: var(--simple-button-hover-text);
}

.yaff.link {
    color: var(--link-color);
    text-decoration: underline;
}

.yaff.link:hover {
    color: var(--link-hover-color);
}

.yaff.article {
    margin: 16px;
    padding: 16px;
    border: 1px solid var(--article-border);
    border-radius: 8px;
    width: 1280px;
    text-align: left;
}

.yaff.simple-article {
    width: 1280px;
    margin: 16px;
    padding: 16px;
    text-align: left;
}

.yaff.menu-bar {
    height: 48px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    width: calc(100% - 24px);
    background-color: var(--menu-bar-color);
}

.yaff.segment {
    text-align: center;
    min-width: 100%;
}

.yaff.segment > * {
    margin-left: auto;
    margin-right: auto;
}

.yaff.marginless {
    margin: 0;
}

@media screen and (max-width: 1340px) {
    .yaff.article {
        width: 1024px;
    }

    .yaff.simple-article {
        width: 1024px;
    }
}

@media screen and (max-width: 1084px) {
    .yaff.article {
        width: 768px;
    }

    .yaff.simple-article {
        width: 768px;
    }
}

@media screen and (max-width: 828px) {
    .yaff.article {
        width: 90%;
    }

    .yaff.simple-article {
        width: 90%;
    }
}
